html, body {
  margin: 0;
  background-color: #252525;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  position: fixed;
  height: min(80px, 15vmin);
  width: 100%;
  color: white;
  font-size: 1rem;
  background-color: #252525;
  z-index: 2;
}

.content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 15px;
}

.content > div {
  flex: 1 0 0;
  display: flex;
}

.pokeball {
  height: 50px;
  width: 50px;
  margin: 0;
}

#logo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.logo-text {
  font-weight: bold;
  font-size: 1.5rem;
  height: 100%;
  white-space: nowrap;
}

#characters {
  justify-content: space-around;
  height: 100%;
}

#stopwatch {
  font-weight: bold;
  font-size: 1.5rem;
  display: flex;
  justify-content: flex-end;
  letter-spacing: 0.1rem;
}

@media(max-width: 1100px) { 
  #stopwatch {
    display: none;
  }
}

@media(max-width: 750px) {  
  .content {
    margin: 0 5px;
  }

  #logo {
    display: none;
  }
}

.character-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sprite {
  margin: 0;
  height: 100%;
  width: auto;
}

.found {
  filter: brightness(50%);
}

#background {
  margin-top: min(80px, 15vmin);
  width: 100%;
}

#select-box {
  display: flex;
  flex-direction: column;
  color: white;
  border-radius: min(0.75rem, 1vw);
  overflow: hidden;
  font-size: min(1rem, 1.25vw);
}

.select-box-item {
  background-color: rgba(37, 37, 37, 0.95);
  padding: min(0.5rem, 1vmin) min(1rem, 1.5vmin);
  user-select: none;
  flex: 1;
  display: flex;
  align-items: center;
}

.select-box-item:hover {
  filter: brightness(125%);
}