.modal {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .modal-content {
    padding: 2rem;
    border-radius: 1.5rem;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    background-color: #252525;
    color: white;
    text-align: center;
    font-size: 1.25rem;
    box-shadow: 5px 5px 10px #1d1d1d;
  }

  .title {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .info {
    max-width: 500px;
  }

  .buttons {
    display: flex;
    gap: 1rem;
  }

  button {
    font-size: 1rem;
    padding: 0.75rem;
    width: 8rem;
    color: white;
    background-color: #c40c0c;
    border: 0;
    border-radius: 0.5rem;
  }

  button.primary {
    background-color: #0ea52e;
    font-weight: bold;
  }

  form {
    display: flex;
    gap: 1rem;
  }

  button:hover {
    filter: brightness(125%);
  }

  input {
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 0;
  }

  table {
    width: 100%;
    font-size: 1rem;
    border-collapse: collapse;
  }

  tr {
    border: 2px #3a3a3a solid;
  }

  th,td {
    padding: 0.25rem 1.5rem;
  }
  