@import url('https://fonts.cdnfonts.com/css/pokemon-solid');

.header {
  position: fixed;
  height: 80px;
  width: 100%;
  font-size: 1rem;
  background-color: #252525;
  
  z-index: 1;
}

.content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 25px;
}

.container {
  margin: 0;
  height: 100%;
  max-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pokeball {
  height: 50px;
  width: 50px;
  margin: 0;
}

.left {
  display: flex;
  align-items: center;
  gap: 5px;
}

.logo {
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 1.5rem;
  height: 100%;
  white-space: nowrap;
}

.characters {
  display: flex;
  color: white;
  justify-content: space-evenly;
  font-size: 100%;
  width: 35rem;
  height: 100%;
}

.character-info {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33%;
}

.sprite {
  min-height: 100%;
  aspect-ratio: 1;
  background-size: cover;
}

.found {
  filter: brightness(50%);
}

img {
  margin-top: 5rem;
  width: 100%;
}

.select-box {
  display: flex;
  flex-direction: column;
  color: white;
  border-radius: 0.75rem;
  overflow: hidden;
  width: 105px;
}

.select-box-item {
  background-color: rgba(37, 37, 37, 0.95);
  padding: 0.5rem 1rem;
  user-select: none;
  flex: 1;
  display: flex;
  align-items: center;
}

.select-box-item:hover {
  filter: brightness(125%);
}